force-app/main/default/flows/Contact_Role_update_Persona_to_Value_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Persona</name>
        <label>Update Persona</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>valueMap.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Value_Map_Persona</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Can_not_change_VM</name>
        <label>Can not change VM</label>
        <locationX>204</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>Attention: Value Map can not be changed. Please create a new Value Map for each contact.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Value_Map_exists</name>
        <label>Check if Value Map exists</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Map_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_has_Value_Map</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>valueMap.Persona__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Persona</targetReference>
            </connector>
            <label>Contact has Value Map</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Only_Persona_Changed</name>
        <label>Is Only the Persona Changed?</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Value_Map_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Persona_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Persona__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Value_Map__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Value_Maps_for_Contact</targetReference>
            </connector>
            <label>Persona Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Value_Map_Changed</name>
        <label>Is Value Map Changed?</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_Map_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Value_Map__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.newValueMap__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_not_change_VM</targetReference>
            </connector>
            <label>Value Map Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact Role update Persona to Value Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Role update Persona and Contact to Value Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Value_Maps_for_Contact</name>
        <label>Find Value Maps for Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Value_Map_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_VVS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <object>VVS_Value_Map__c</object>
        <outputReference>valueMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Persona__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Value_Map_Persona</name>
        <label>Update Value Map Persona</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Is_Value_Map_Changed</targetReference>
        </connector>
        <inputReference>valueMap</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Only_Persona_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Persona__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Value_Map__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>oldValueMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VVS_Value_Map__c</objectType>
    </variables>
    <variables>
        <name>valueMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VVS_Value_Map__c</objectType>
    </variables>
</Flow>
