force-app/main/default/flows/Enforce_only_one_Primary_Value_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Can_not_be_Primary</name>
        <label>Can not be Primary</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>The Opportunity {!$Record.Opportunity_VVS__r.Name} already has a Primary Value Map. If you wish to change which Value Map is set as Primary, please use the Set as Primary Value Map screen flow.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_there_another_Primary_Value_Map</name>
        <label>Is there another Primary Value Map?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No other Primary Value Map</defaultConnectorLabel>
        <rules>
            <name>Yes_Another_Primary_Value_Map_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_other_Primary_Value_Maps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Can_not_be_Primary</targetReference>
            </connector>
            <label>Yes - Another Primary Value Map Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enforce only one Primary Value Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enforce only one Primary Value Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_for_other_Primary_Value_Maps</name>
        <label>Check for other Primary Value Maps</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_another_Primary_Value_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_VVS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_VVS__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VVS_Value_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_other_Primary_Value_Maps</targetReference>
        </connector>
        <filterFormula>OR(
     AND(
          ISNEW(), {!$Record.Primary__c}
     ),
     AND(
          ISCHANGED({!$Record.Primary__c}),{!$Record.Primary__c}
     )
)</filterFormula>
        <object>VVS_Value_Map__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
