force-app/main/default/flows/OpportunityCreationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Opportunity</name>
        <label>Navigate to Opportunity</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Xactly_Alignstar_SelectedPS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_New_Business_OpportunityPS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity0</name>
        <label>Navigate to Opportunity</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Xactly_Alignstar_SelectedPS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Existing_Business_Opportunity_AddOn</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity1</name>
        <label>Navigate to Opportunity</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Xactly_Alignstar_SelectedPS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Existing_Business_Opportunity_Migration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity2</name>
        <label>Navigate to Opportunity</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Xactly_Alignstar_SelectedPS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Existing_Business_Opportunity_Others</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity3</name>
        <label>Navigate to Opportunity</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_New_Business_OpportunitySOnly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity4</name>
        <label>Navigate to Opportunity</label>
        <locationX>2690</locationX>
        <locationY>1106</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Existing_Business_Opportunity_AddOnSOnly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Opportunity6</name>
        <label>Navigate to Opportunity</label>
        <locationX>3218</locationX>
        <locationY>1106</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Existing_Business_Opportunity_OthersSOnly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignBookingsAmountPS</name>
        <label>Assign Bookings Amount</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Alignstar_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Benchmarking_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Commission_Expense_Accounting_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Forecasting_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Incent_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Objectives_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Extend_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Sales_Planning_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BookingsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Xactly_Insights_AmountPS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Business</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddOn</name>
        <choiceText>AddOn</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddOn</stringValue>
        </value>
    </choices>
    <choices>
        <name>Both</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_Order</name>
        <choiceText>Change Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contract_Extension</name>
        <choiceText>Contract Extension</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract Extension</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cross_Sell</name>
        <choiceText>Cross Sell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cross Sell</stringValue>
        </value>
    </choices>
    <choices>
        <name>Downgrade</name>
        <choiceText>Downgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Downgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Early_Renewal</name>
        <choiceText>Early Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Early Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Migration</name>
        <choiceText>Migration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Migration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Products_and_Services</name>
        <choiceText>Products and Services</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Products and Services</stringValue>
        </value>
    </choices>
    <choices>
        <name>Services_Only</name>
        <choiceText>Services Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Services Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upsell</name>
        <choiceText>Upsell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upsell</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddOn_Migration_Others</name>
        <label>AddOn/Migration/Others?</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Existing_Business_Opportunity_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>AddOnDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_TypePS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddOn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Existing_Business_Opportunity_AddOn</targetReference>
            </connector>
            <label>AddOn</label>
        </rules>
        <rules>
            <name>MigrationDec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_TypePS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Migration</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Existing_Business_Opportunity_Migration</targetReference>
            </connector>
            <label>Migration</label>
        </rules>
    </decisions>
    <decisions>
        <name>AddOn_Others</name>
        <label>AddOn/Others?</label>
        <locationX>2954</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Existing_Business_Opportunity_OthersSOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>AddOnSOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_TypePS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AddOn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Existing_Business_Opportunity_AddOnSOnly</targetReference>
            </connector>
            <label>AddOn</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Business</name>
        <label>New Business?</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>AddOn_Migration_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Business</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypePS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Business_OpportunityPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_BusinessSOnly</name>
        <label>New Business?</label>
        <locationX>2558</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>AddOn_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Business</defaultConnectorLabel>
        <rules>
            <name>YesSOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeSOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Business_OpportunitySOnly</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>1568</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Services_Only_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Services Only</defaultConnectorLabel>
        <rules>
            <name>ProductsandServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>chcRecordTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Products_and_Services</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products_and_Services_Record_Type_Id</targetReference>
            </connector>
            <label>Products and Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Alignstar_SelectedPS</name>
        <label>Xactly Alignstar Selected?</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Xactly_Benchmarking_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAlignStarPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_AlignstarPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alignstar_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Benchmarking_SelectedPS</name>
        <label>Xactly Benchmarking Selected?</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Xactly_Commission_Expense_Accounting_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBenchmarkingPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_BenchmarkingPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Benchmarking_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Commission_Expense_Accounting_SelectedPS</name>
        <label>Xactly Commission Expense Accounting Selected?</label>
        <locationX>578</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Xactly_Forecasting_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCEAPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_Commission_Expense_AccountingPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CEA_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Extend_SelectedPS</name>
        <label>Xactly Extend Selected?</label>
        <locationX>578</locationX>
        <locationY>5234</locationY>
        <defaultConnector>
            <targetReference>Xactly_Sales_Planning_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExtendPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_ExtendPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Extend_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Forecasting_SelectedPS</name>
        <label>Xactly Forecasting Selected?</label>
        <locationX>578</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Xactly_Incent_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesForecastingPSNewBiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_ForecastingPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Forecasting_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Incent_SelectedPS</name>
        <label>Xactly Incent Selected?</label>
        <locationX>578</locationX>
        <locationY>3686</locationY>
        <defaultConnector>
            <targetReference>Xactly_Insights_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIncentPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_IncentPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Incent_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Insights_SelectedPS</name>
        <label>Xactly Insights Selected?</label>
        <locationX>578</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>Xactly_Objectives_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesInsightsPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_InsightsPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insights_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Objectives_SelectedPS</name>
        <label>Xactly Objectives Selected?</label>
        <locationX>578</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>Xactly_Extend_SelectedPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesObjectivesPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_ObjectivesPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Objectives_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Xactly_Sales_Planning_SelectedPS</name>
        <label>Xactly Sales Planning Selected?</label>
        <locationX>578</locationX>
        <locationY>5750</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSPPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Xactly_Sales_PlanningPS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sales_Planning_Product_IDPS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Simplifying Services Only screen</description>
    <dynamicChoiceSets>
        <name>chcDealProducts</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Deal_Products__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcForecastCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Forecast_Category__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcOppCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcOppType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcOrderSubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Sub_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcOrderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chcStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Removes unnecessary text from Fault Error Message for displaying to the end user.</description>
        <name>cleanErrorMessage</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        LEFT(
            {!$Flow.FaultMessage},
            FIND(&quot;You can look up ExceptionCode values&quot;, {!$Flow.FaultMessage}) - 1
        ),
        &quot;This error occurred when the flow tried to create records: FIELD_CUSTOM_VALIDATION_EXCEPTION:&quot;,
        &quot;&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>PSBookingAmount</name>
        <dataType>Number</dataType>
        <expression>{!Xactly_Alignstar_AmountPS} + {!Xactly_Benchmarking_AmountPS} + {!Xactly_Commission_Expense_Accounting_AmountPS} + {!Xactly_Forecasting_AmountPS} + {!Xactly_Incent_AmountPS} + {!Xactly_Insights_AmountPS} + {!Xactly_Objectives_AmountPS} + {!Xactly_Extend_AmountPS} + {!Xactly_Sales_Planning_AmountPS} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PSBookingsAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Xactly_Alignstar_AmountPS} + {!Xactly_Benchmarking_AmountPS} + {!Xactly_Commission_Expense_Accounting_AmountPS} + {!Xactly_Forecasting_AmountPS} + {!Xactly_Incent_AmountPS} + {!Xactly_Insights_AmountPS} + {!Xactly_Objectives_AmountPS} + {!Xactly_Extend_AmountPS} + {!Xactly_Sales_Planning_AmountPS} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PSOpportunityID</name>
        <dataType>String</dataType>
        <expression>IF({!TypePS} = &apos;New Business&apos;, {!Create_New_Business_OpportunityPS}, IF({!Order_TypePS} = {!AddOn},{!Create_Existing_Business_Opportunity_AddOn},IF({!Order_TypePS} = {!Migration},{!Create_Existing_Business_Opportunity_Migration},{!Create_Existing_Business_Opportunity_Others})))</expression>
    </formulas>
    <formulas>
        <name>SOnlyOpportunityID</name>
        <dataType>String</dataType>
        <expression>IF({!TypeSOnly} = &apos;New Business&apos;, {!Create_New_Business_OpportunitySOnly}, IF({!Order_TypeSOnly} = {!AddOn},{!Create_Existing_Business_Opportunity_AddOnSOnly},{!Create_Existing_Business_Opportunity_OthersSOnly}))</expression>
    </formulas>
    <interviewLabel>Opportunity Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alignstar_Opp_ProductPS</name>
        <label>Create Alignstar Opp Product</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Xactly_Benchmarking_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Alignstar_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Alignstar_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Alignstar_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Alignstar_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Benchmarking_Opp_ProductPS</name>
        <label>Create Benchmarking Opp Product</label>
        <locationX>446</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Xactly_Commission_Expense_Accounting_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Benchmarking_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Benchmarking_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Benchmarking_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Benchmarking_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CEA_Opp_ProductPS</name>
        <label>Create CEA Opp Product</label>
        <locationX>446</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Xactly_Forecasting_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_CEA_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_CEA_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Commission_Expense_Accounting_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Commission_Expense_Accounting_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Business_Opportunity_AddOn</name>
        <label>Create Existing Business Opportunity - AddOn</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DatePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Situation__c</field>
            <value>
                <elementReference>Current_SituationPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNamePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objectives__c</field>
            <value>
                <elementReference>Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Sub_Type__c</field>
            <value>
                <elementReference>Order_Sub_TypePSAddOn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_TypePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Products_and_Services_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategoryPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StagePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timelinewithin12months__c</field>
            <value>
                <elementReference>Timeline_within_12_monthsPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypePS</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Business_Opportunity_AddOnSOnly</name>
        <label>Create Existing Business Opportunity - AddOn</label>
        <locationX>2690</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_5_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DateSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Sub_Type__c</field>
            <value>
                <elementReference>Order_Sub_TypeSOnlyAddOn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_TypeSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Services_Only_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContactSOnly.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategorySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeSOnly</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Business_Opportunity_Migration</name>
        <label>Create Existing Business Opportunity - Migration</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DatePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Situation__c</field>
            <value>
                <elementReference>Current_SituationPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNamePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objectives__c</field>
            <value>
                <elementReference>Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Sub_Type__c</field>
            <value>
                <elementReference>Order_Sub_TypePSMigration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_TypePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Products_and_Services_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategoryPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StagePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timelinewithin12months__c</field>
            <value>
                <elementReference>Timeline_within_12_monthsPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypePS</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Business_Opportunity_Others</name>
        <label>Create Existing Business Opportunity - Others</label>
        <locationX>1634</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_3_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DatePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Situation__c</field>
            <value>
                <elementReference>Current_SituationPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNamePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objectives__c</field>
            <value>
                <elementReference>Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_TypePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Products_and_Services_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategoryPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StagePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timelinewithin12months__c</field>
            <value>
                <elementReference>Timeline_within_12_monthsPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypePS</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Existing_Business_Opportunity_OthersSOnly</name>
        <label>Create Existing Business Opportunity - Others</label>
        <locationX>3218</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity6</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_6_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DateSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_TypeSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Services_Only_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContactSOnly.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategorySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TypeSOnly</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Extend_Opp_ProductPS</name>
        <label>Create Extend Opp Product</label>
        <locationX>446</locationX>
        <locationY>5558</locationY>
        <connector>
            <targetReference>Xactly_Sales_Planning_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Extend_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Extend_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Extend_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Extend_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Forecasting_Opp_ProductPS</name>
        <label>Create Forecasting Opp Product</label>
        <locationX>446</locationX>
        <locationY>3494</locationY>
        <connector>
            <targetReference>Xactly_Incent_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Forecasting_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Forecasting_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Forecasting_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Forecasting_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Incent_Opp_ProductPS</name>
        <label>Create Incent Opp Product</label>
        <locationX>446</locationX>
        <locationY>4010</locationY>
        <connector>
            <targetReference>Xactly_Insights_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Incent_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Incent_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Incent_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Incent_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Insights_Opp_ProductPS</name>
        <label>Create Insights Opp Product</label>
        <locationX>446</locationX>
        <locationY>4526</locationY>
        <connector>
            <targetReference>Xactly_Objectives_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Insights_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Insights_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Insights_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Insights_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Business_OpportunityPS</name>
        <label>Create New Business Opportunity</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_fp1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DatePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Situation__c</field>
            <value>
                <elementReference>Current_SituationPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNamePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objectives__c</field>
            <value>
                <elementReference>Objectives</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Products_and_Services_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategoryPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StagePS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timelinewithin12months__c</field>
            <value>
                <elementReference>Timeline_within_12_monthsPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Business_OpportunitySOnly</name>
        <label>Create New Business Opportunity</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Navigate_to_Opportunity3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Get_Contact_Details.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_DateSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Opportunity_CurrencySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Bookings_Amount__c</field>
            <value>
                <elementReference>BookingsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact_Details.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityNameSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <stringValue>Services Only</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Services_Only_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesLoft1__Primary_Contact__c</field>
            <value>
                <elementReference>primaryContactSOnly.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Forecast_Category__c</field>
            <value>
                <elementReference>Sales_Forecast_CategorySOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageSOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Objectives_Opp_ProductPS</name>
        <label>Create Objectives Opp Product</label>
        <locationX>446</locationX>
        <locationY>5042</locationY>
        <connector>
            <targetReference>Xactly_Extend_SelectedPS</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Objectives_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Objectives_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Objectives_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Objectives_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Planning_Opp_ProductPS</name>
        <label>Create Sales Planning Opp Product</label>
        <locationX>446</locationX>
        <locationY>6074</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>PSOpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Sales_Planning_PB_PS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Sales_Planning_Product_IDPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Bookings_Amount__c</field>
            <value>
                <elementReference>Xactly_Sales_Planning_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Xactly_Sales_Planning_AmountPS</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Alignstar_PB_PS</name>
        <label>Get Alignstar PB</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Alignstar_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Alignstar_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Alignstar_Product_IDPS</name>
        <label>Get Alignstar Product ID</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Alignstar_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XACTLYALIGNSTAR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benchmarking_PB_PS</name>
        <label>Get Benchmarking PB</label>
        <locationX>446</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Benchmarking_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Benchmarking_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Benchmarking_Product_IDPS</name>
        <label>Get Benchmarking Product ID</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Benchmarking_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BENCHMARKING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CEA_PB_PS</name>
        <label>Get CEA PB</label>
        <locationX>446</locationX>
        <locationY>2870</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_CEA_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CEA_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CEA_Product_IDPS</name>
        <label>Get CEA Product ID</label>
        <locationX>446</locationX>
        <locationY>2762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CEA_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XACTLYCEA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>1568</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrNewOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Extend_PB_PS</name>
        <label>Get Extend PB</label>
        <locationX>446</locationX>
        <locationY>5450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Extend_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Extend_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Extend_Product_IDPS</name>
        <label>Get Extend Product ID</label>
        <locationX>446</locationX>
        <locationY>5342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Extend_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XACTLYEXTEND</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forecasting_PB_PS</name>
        <label>Get Forecasting PB</label>
        <locationX>446</locationX>
        <locationY>3386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Forecasting_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Forecasting_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forecasting_Product_IDPS</name>
        <label>Get Forecasting Product ID</label>
        <locationX>446</locationX>
        <locationY>3278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Forecasting_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XACTLYFORECASTING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incent_PB_PS</name>
        <label>Get Incent PB</label>
        <locationX>446</locationX>
        <locationY>3902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Incent_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Incent_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Incent_Product_IDPS</name>
        <label>Get Incent Product ID</label>
        <locationX>446</locationX>
        <locationY>3794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Incent_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>XACTLYINCENT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insights_PB_PS</name>
        <label>Get Insights PB</label>
        <locationX>446</locationX>
        <locationY>4418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Insights_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Insights_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insights_Product_IDPS</name>
        <label>Get Insights Product ID</label>
        <locationX>446</locationX>
        <locationY>4310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insights_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INSIGHTS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Objectives_PB_PS</name>
        <label>Get Objectives PB</label>
        <locationX>446</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Objectives_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Objectives_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Objectives_Product_IDPS</name>
        <label>Get Objectives Product ID</label>
        <locationX>446</locationX>
        <locationY>4826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Objectives_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OBJECTIVES</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_and_Services_Record_Type_Id</name>
        <label>Get Products and Services Record Type Id</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrNewOppP_S</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Products_and_Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Planning_PB_PS</name>
        <label>Get Sales Planning PB</label>
        <locationX>446</locationX>
        <locationY>5966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sales_Planning_Opp_ProductPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sales_Planning_Product_IDPS.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_CurrencyPS</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Planning_Product_IDPS</name>
        <label>Get Sales Planning Product ID</label>
        <locationX>446</locationX>
        <locationY>5858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Planning_PB_PS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SALESPLANNING</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Services_Only_Record_Type_Id</name>
        <label>Get Services Only Record Type Id</label>
        <locationX>2558</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrNewOppSOnly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Services_Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book_Id</name>
        <label>Get Standard Price Book Id</label>
        <locationX>1568</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Error</name>
        <label>Copy 1 of Error</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error</name>
        <label>Copy 2 of Error</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_3_of_Error</name>
        <label>Copy 3 of Error</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_3_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_4_of_Error</name>
        <label>Copy 4 of Error</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_4_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_5_of_Error</name>
        <label>Copy 5 of Error</label>
        <locationX>2954</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_5_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_6_of_Error</name>
        <label>Copy 6 of Error</label>
        <locationX>3482</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_6_of_Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_fp1</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Text1</name>
            <fieldText>&lt;p&gt;{!cleanErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrNewOpportunity</name>
        <label>New Opportunity</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Standard_Price_Book_Id</targetReference>
        </connector>
        <fields>
            <name>txtNewOpportunity</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;New Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chcRecordTypes</name>
            <choiceReferences>Products_and_Services</choiceReferences>
            <choiceReferences>Services_Only</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Record Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrNewOppP_S</name>
        <label>scrNewOppP&amp;S</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>AssignBookingsAmountPS</targetReference>
        </connector>
        <fields>
            <name>txtNewOppPS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;New Opportunity: Products and Services&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_InformationPS</name>
            <fieldText>Opportunity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_InformationPS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityNamePS</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Order_TypePS</name>
                    <choiceReferences>AddOn</choiceReferences>
                    <choiceReferences>Migration</choiceReferences>
                    <choiceReferences>Early_Renewal</choiceReferences>
                    <choiceReferences>Contract_Extension</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>AddOn</defaultSelectedChoiceReference>
                    <fieldText>Order Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypePS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Existing Business</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StagePS</name>
                    <choiceReferences>chcStage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Stage 0 - Initial Qualification</stringValue>
                    </defaultValue>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sales_Forecast_CategoryPS</name>
                    <choiceReferences>chcForecastCategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Omitted</stringValue>
                    </defaultValue>
                    <fieldText>Sales Forecast Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>primaryContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SalesLoft1__Primary_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contact_Details.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_InformationPS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypePS</name>
                    <choiceReferences>chcOppType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New Business</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Order_Sub_TypePSAddOn</name>
                    <choiceReferences>Cross_Sell</choiceReferences>
                    <choiceReferences>Upsell</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Order Sub-Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Order_TypePS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AddOn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Order_Sub_TypePSMigration</name>
                    <choiceReferences>Upgrade</choiceReferences>
                    <choiceReferences>Downgrade</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Order Sub-Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Order_TypePS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Migration</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Close_DatePS</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_CurrencyPS</name>
                    <choiceReferences>chcOppCurrency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Discovery_InformationPS</name>
            <fieldText>Discovery Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Discovery_InformationPS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Objectives</name>
                    <fieldText>Objectives</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Timeline_within_12_monthsPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Timeline within 12 months</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Discovery_InformationPS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_SituationPS</name>
                    <fieldText>Current Situation</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;We understand their complete current situation. We can sketch it out with 100% accuracy with many real examples.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Forecasting_InformationPS</name>
            <fieldText>Solution Interest</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forecasting_InformationPS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Xactly_AlignstarPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Alignstar</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_BenchmarkingPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Benchmarking</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_Commission_Expense_AccountingPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Commission Expense Accounting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_ForecastingPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Forecasting</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_IncentPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Incent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_InsightsPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Insights</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_ObjectivesPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Objectives</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_ExtendPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Extend</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please select at least one Solution Interest.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Xactly_Sales_PlanningPS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Xactly Sales Planning</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select at least one Solution Interest.&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Xactly_AlignstarPS},1,0)+
IF({!Xactly_BenchmarkingPS},1,0)+
IF({!Xactly_InsightsPS},1,0)+
IF({!Xactly_Commission_Expense_AccountingPS},1,0)+
IF({!Xactly_ForecastingPS},1,0)+
IF({!Xactly_IncentPS},1,0)+
IF({!Xactly_ObjectivesPS},1,0)+
IF({!Xactly_ExtendPS},1,0)+
IF({!Xactly_Sales_PlanningPS},1,0) &gt; 0</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forecasting_InformationPS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Xactly_Alignstar_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Alignstar Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_AlignstarPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Benchmarking_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Benchmarking Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_BenchmarkingPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Commission_Expense_Accounting_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Commission Expense Accounting Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_Commission_Expense_AccountingPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Forecasting_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Forecasting Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_ForecastingPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Incent_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Incent Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_IncentPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Insights_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Insights Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_InsightsPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Objectives_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Objectives Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_ObjectivesPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Extend_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Extend Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_ExtendPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Xactly_Sales_Planning_AmountPS</name>
                    <dataType>Currency</dataType>
                    <fieldText>Xactly Sales Planning Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Xactly_Sales_PlanningPS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrNewOppSOnly</name>
        <label>scrNewOppSOnly</label>
        <locationX>2558</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>New_BusinessSOnly</targetReference>
        </connector>
        <fields>
            <name>txtNewOppSOnly</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;New Opportunity: Services Only&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_InformationSOnly</name>
            <fieldText>Opportunity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_InformationSOnly_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityNameSOnly</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Order_TypeSOnly</name>
                    <choiceReferences>AddOn</choiceReferences>
                    <choiceReferences>Services_Only</choiceReferences>
                    <choiceReferences>Change_Order</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>AddOn</defaultSelectedChoiceReference>
                    <fieldText>Order Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeSOnly</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Existing Business</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StageSOnly</name>
                    <choiceReferences>chcStage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Stage 0 - Initial Qualification</stringValue>
                    </defaultValue>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sales_Forecast_CategorySOnly</name>
                    <choiceReferences>chcForecastCategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Omitted</stringValue>
                    </defaultValue>
                    <fieldText>Sales Forecast Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>primaryContactSOnly</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SalesLoft1__Primary_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Contact_Details.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_InformationSOnly_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TypeSOnly</name>
                    <choiceReferences>chcOppType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New Business</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Order_Sub_TypeSOnlyAddOn</name>
                    <choiceReferences>Cross_Sell</choiceReferences>
                    <choiceReferences>Upsell</choiceReferences>
                    <choiceReferences>Both</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Order Sub-Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Order_TypeSOnly</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>AddOn</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Close_DateSOnly</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_CurrencySOnly</name>
                    <choiceReferences>chcOppCurrency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BookingsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
