force-app/main/default/flows/Opportunity_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Customer_Salesforce_ID_Missing_Stage_4</name>
        <label>Customer Salesforce ID Missing - Stage 4</label>
        <locationX>158</locationX>
        <locationY>731</locationY>
        <actionName>Opportunity.Customer_Salesforce_ID_Missing_Stage_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Order_Type_New_or_Add_On</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Customer_Salesforce_ID_Missing_Stage_4</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Regression_Alert</name>
        <label>Send Regression Alert</label>
        <locationX>158</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Sales_Forecast_Category_Regression_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_CRM_Salesforce</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Sales_Forecast_Category_Regression_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Account_CRM_Salesforce</name>
        <label>Account CRM = Salesforce?</label>
        <locationX>290</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Is_Order_Type_New_or_Add_On</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.CRM__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Services Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 4 - Business Validation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerSalesforceID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Salesforce_ID_Missing_Stage_4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Opp has a primary contact</description>
        <name>Check_Has_Primary_Contact</name>
        <label>Check Has Primary Contact</label>
        <locationX>213</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Create_New_Value_Map</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Contact_Role_of_Primary_Contact</targetReference>
            </connector>
            <label>Has Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Value_Maps_Exist_OR_No_Primary_Contact</name>
        <label>Do Value Maps Exist OR No Primary Contact?</label>
        <locationX>59</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Check_Has_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome - No Value Maps</defaultConnectorLabel>
        <rules>
            <name>Has_Value_Maps_OR_Missing_Primary_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Find_related_Value_Maps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesLoft1__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Type_Changed_to_Cancellation</targetReference>
            </connector>
            <label>Has Value Maps OR Missing Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for Forecast Category Regression</description>
        <name>Forecast_Regression</name>
        <label>Forecast Regression</label>
        <locationX>290</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Account_CRM_Salesforce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Regression</defaultConnectorLabel>
        <rules>
            <name>Regression</name>
            <conditionLogic>(1 AND 2) OR (3 AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Forecast_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Forecast_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Forecast_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Forecast_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sales_Forecast_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Regression_Alert</targetReference>
            </connector>
            <label>Regression</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Type_New_or_Add_On</name>
        <label>Is Order Type New or Add On?</label>
        <locationX>290</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Sub_Type_Changed_to_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome (Not Stage 2)</defaultConnectorLabel>
        <rules>
            <name>Yes_New_or_Add_On</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddOn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_related_Value_Maps</targetReference>
            </connector>
            <label>Yes - New or Add On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sub_Type_Changed_to_Cancellation</name>
        <label>Sub Type Changed to Cancellation?</label>
        <locationX>290</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sub_Type_Changed_to_CancellationTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order_Sub_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order_Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Quotes</targetReference>
            </connector>
            <label>Sub Type Changed to Cancellation</label>
        </rules>
    </decisions>
    <description>Modified Field name of Name field while creating Value Map
Value Map logic - adding Persona</description>
    <environments>Default</environments>
    <formulas>
        <name>ValueMapName</name>
        <dataType>String</dataType>
        <expression>&apos;Value Map for &apos; &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity - After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save Flow wPersona</label>
    <loops>
        <name>Loop_on_Quotes</name>
        <label>Loop on Quotes</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <collectionReference>Get_Related_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_CPI_Fields_on_Quote</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Value Map and Relates to Opp</description>
        <name>Create_New_Value_Map</name>
        <label>Create New Value Map</label>
        <locationX>213</locationX>
        <locationY>1547</locationY>
        <assignRecordIdToReference>newValueMapID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Value_Map</targetReference>
        </connector>
        <inputAssignments>
            <field>Objectives__c</field>
            <value>
                <elementReference>$Record.Objectives__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_VVS__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <elementReference>Get_Opp_Contact_Role_of_Primary_Contact.Persona__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.SalesLoft1__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VVS_Value_Map__c</object>
    </recordCreates>
    <recordLookups>
        <description>Find if any Value Maps are already related to this opp</description>
        <name>Find_related_Value_Maps</name>
        <label>Find related Value Maps</label>
        <locationX>59</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Value_Maps_Exist_OR_No_Primary_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_VVS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VVS_Value_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Role_of_Primary_Contact</name>
        <label>Get Opp Contact Role of Primary Contact</label>
        <locationX>81</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Value_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesLoft1__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Quotes</name>
        <label>Get Related Quotes</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Value_Map</name>
        <label>Set Value Map</label>
        <locationX>213</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Sub_Type_Changed_to_Cancellation</targetReference>
        </connector>
        <inputAssignments>
            <field>Primary_Value_Map__c</field>
            <value>
                <elementReference>newValueMapID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CPI_Fields_on_Quote</name>
        <label>Update CPI Fields on Quote</label>
        <locationX>138</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Loop_on_Quotes</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_on_Quotes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Quotes.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPI__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DisplayCPILanguageonSalesOrder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IncludeCPIinQuote__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>164</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Forecast_Regression</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newValueMapID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VVS_Value_Map__c</objectType>
    </variables>
</Flow>
