force-app/main/default/flows/PLOT_Team_Member_Request_Modified_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assigned_Email_PLOT_Team</name>
        <label>Assigned Email PLOT Team</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Assigned_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Assigned_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Clarification_Email_PLOT_Team</name>
        <label>Clarification Email PLOT Team</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Clarification_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Clarification_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Assigned_Email_PLOT_Team</name>
        <label>Copy 1 of Assigned Email PLOT Team</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Assigned_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Assigned_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejected_Email_PLOT_Team</name>
        <label>Rejected Email PLOT Team</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Rejected_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Rejected_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Updated_Email_PLOT_Team</name>
        <label>Updated Email PLOT Team</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Updated_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PLOT_Team_Member_Request__c.PLOT_Team_Member_Request_Updated_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Type_of_Change</name>
        <label>Type of Change</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Initial_Assignment</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>AccountTeamMemberID.TeamMemberRole</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Platform Optimization Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Team_Member__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_update_PLOT_TMR_Status_Date_Approver</targetReference>
            </connector>
            <label>Initial Assignment</label>
        </rules>
        <rules>
            <name>New_Assignment</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>AccountTeamMemberID.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Platform Optimization Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Team_Member__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assigned_update_PLOT_TMR_Status_Date_Approver</targetReference>
            </connector>
            <label>New Assignment</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_update_PLOT_TMR_Status_Date</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Clarification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clarification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clarification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clarification_update_PLOT_TMR_Status</targetReference>
            </connector>
            <label>Clarification</label>
        </rules>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clarification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updates_update_PLOT_TMR_Status</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>Actions triggered by PLOT assignment, rejection, etc.</description>
    <environments>Default</environments>
    <interviewLabel>PLOT Team Member Request - Add assignee to Account Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PLOT Team Member Request - Modified Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Assignee_to_Account_Team</name>
        <label>Add Assignee to Account Team</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Assigned_Email_PLOT_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Platform Optimization Advisor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Assigned_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_New_Assignee_to_Account_Team</name>
        <label>Add New Assignee to Account Team</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_1_of_Assigned_Email_PLOT_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Platform Optimization Advisor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>$Record.Assigned_Team_Member__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Assignee_from_Account_Team</name>
        <label>Remove Assignee from Account Team</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_New_Assignee_to_Account_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platform Optimization Advisor</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account_Team_Data</name>
        <label>Get Account Team Data</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Platform Optimization Advisor</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputAssignments>
            <assignToReference>AccountTeamMemberID.TeamMemberRole</assignToReference>
            <field>TeamMemberRole</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Add_PLOT_Tag_to_Account</name>
        <label>Add PLOT Tag to Account</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Add_Assignee_to_Account_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Tag__c</field>
            <value>
                <stringValue>PLOT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account__r.Accounts__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assigned_update_PLOT_TMR_Status_Date_Approver</name>
        <label>Assigned update PLOT TMR Status &amp; Date &amp; Approver</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Add_PLOT_Tag_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clarification_update_PLOT_TMR_Status</name>
        <label>Clarification update PLOT TMR Status</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Clarification_Email_PLOT_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Clarification</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Assigned_update_PLOT_TMR_Status_Date_Approver</name>
        <label>Copy 1 of Assigned update PLOT TMR Status &amp; Date &amp; Approver</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Remove_Assignee_from_Account_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Rejected_update_PLOT_TMR_Status_Date</name>
        <label>Rejected update PLOT TMR Status &amp; Date</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Rejected_Email_PLOT_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Rejected_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updates_update_PLOT_TMR_Status</name>
        <label>Updates update PLOT TMR Status</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Updated_Email_PLOT_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Updated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Team_Data</targetReference>
        </connector>
        <object>PLOT_Team_Member_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>AccountTeamMemberID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
