force-app/main/default/flows/Prevent_Deleting_Primary_Value_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <name>Custom_Error_Message_1</name>
        <label>Custom Error Message 1</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>This is the Primary Value Map for Opportunity {!$Record.Opportunity_VVS__r.Name} and can not be deleted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_Primary</name>
        <label>Is Primary?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Find_Related_Opp_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_1</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Prevent Deleting Primary Value Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevent Deleting Primary Value Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Related_Opp_Contact_Role</name>
        <label>Find Related Opp Contact Role</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_VM_from_Opp_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Value_Map__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_VM_from_Opp_Contact_Role</name>
        <label>Remove VM from Opp Contact Role</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Related_Opp_Contact_Role.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Value_Map__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>newValueMap__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Primary</targetReference>
        </connector>
        <object>VVS_Value_Map__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
