force-app/main/default/flows/Simple_Set_as_Primary_Value_Map.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Keep_values_from_the_Opportunituy</name>
        <choiceText>Keep values from the Opportunituy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep values from the Opportunituy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keep_values_from_this_Value_Map</name>
        <choiceText>Keep values from this Value Map</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keep values from this Value Map</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <formulas>
        <name>valueMapURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/VVS_Value_Map__c/&apos; &amp; {!Find_Primary_Value_Map.Id}</expression>
    </formulas>
    <interviewLabel>Simple Set as Primary Value Map {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set as Primary Value Map</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Primary_Value_Map</name>
        <label>Find Primary Value Map</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_as_Primary_Value_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_VVS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VVS_Value_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_Value_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>valueMap.Opportunity_VVS__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_new_Primary_Value_Map</name>
        <label>Check new Primary Value Map</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Has_Primary_VM_on_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>valueMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VVS_Value_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unset_Primary_Value_Map</name>
        <label>Unset Primary Value Map</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_new_Primary_Value_Map</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Primary_Value_Map.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VVS_Value_Map__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Has_Primary_VM_on_Opp</name>
        <label>Update Has Primary VM on Opp</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Value_Map__c</field>
            <value>
                <elementReference>valueMap.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Complete</name>
        <label>Complete</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;This Value Map is now set as the Primary Value Map for Opportunity {!Opportunity.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_as_Primary_Value_Map</name>
        <label>Set as Primary Value Map</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unset_Primary_Value_Map</targetReference>
        </connector>
        <fields>
            <name>userMessage</name>
            <fieldText>&lt;p&gt;The current Primary Value map is &lt;a href=&quot;/lightning/r/VVS_Value_Map__c/{!Find_Primary_Value_Map.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Find_Primary_Value_Map.Value_Map_Name__c} {!Find_Primary_Value_Map.Name}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Promoting this Value Map to Primary will remove the Primary distinction on the existing Primary Value Map for this Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Find_Primary_Value_Map.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>userMessageNoPrimary</name>
            <fieldText>&lt;p&gt;Click Set as Primary to make this Value Map the primary Value Map for the Opportunity {!Opportunity.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Find_Primary_Value_Map.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Set as Primary</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>valueMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VVS_Value_Map__c</objectType>
    </variables>
</Flow>
