force-app/main/default/flows/Update_Has_Primary_VM_on_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_another_primary</name>
        <label>Is another primary</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Opp_Primary_VM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Primary VM</defaultConnectorLabel>
        <rules>
            <name>No_Primary_VM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_VMs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Opp_Primary_VM</targetReference>
            </connector>
            <label>No Primary VM</label>
        </rules>
    </decisions>
    <description>Removing checkbox logic.</description>
    <environments>Default</environments>
    <interviewLabel>Update Has Primary VM on Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Has Primary VM on Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Primary_VMs</name>
        <label>Find Primary VMs</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_another_primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_VVS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_VVS__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VVS_Value_Map__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Opp_Primary_VM</name>
        <label>Check Opp Primary VM</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_VVS__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Value_Map__c</field>
            <value>
                <elementReference>Find_Primary_VMs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_VVS__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Opp_Primary_VM</name>
        <label>Uncheck Opp Primary VM</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_VVS__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Value_Map__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity_VVS__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Primary_VMs</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Primary__c})</filterFormula>
        <object>VVS_Value_Map__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
